html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.topnav {
  background-color: #FDFDFD;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FF2CE4;
  color: rgb(0,244,255);
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #020006D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
